@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
}

body {
}
.menuLateral{
    background-color: #07294D;
    height: 100%;
    width: 280px;
    color: white;
    position: fixed;
    display: grid;
    justify-content: center;
}
.logoMenu{
    width: 170px;
    filter: brightness(380%);
    position: relative;
    top: 40px;
}



.seccContendr{
    display: flex;
    width: 700px;
    gap: 30px;
}
.rectLado{
    height: 6px;
    width: 700px;
    border-radius: 5px;
    background-color: #F4B340;
}


body::-webkit-scrollbar{
	width: 5px;
}

body::-webkit-scrollbar-thumb{
	
	background: orange;
	border-radius: 5px;
	
}

.card-title{
    text-indent: 20px;
    padding: 6px;
}

